/* src/styles/App.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.app {
  font-family: Arial, sans-serif;
  margin: 50px;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 20px;
}

div {
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f5f6fa;
  color: #2f3640;
  line-height: 1.6;
}